@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root
{
    --b: 1px solid red;
}


header
{
    height: 150vh;
    overflow-y:hidden;
    overflow-x: hidden;
    background-color: rgb(199, 199, 199);
}


body
{
    overflow-x:hidden
}


nav
{
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    margin: auto;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    position: relative;
}



.header-wrapper
{
    background-image: url("../img/Web4Img/logos/headerbackground.jpg");
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -200px 0px;
    opacity: 0;
}
.nav-link
{
    width: 480px;
}
.nav-link ul
{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.nav-link ul li a
{
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(107, 107, 107);
    cursor: pointer;
}
.nav-link ul li a:hover
{
    color: black;
    transition: color 250ms ease;
}
.nav-link .active
{
    color: black;
}
.nav-link-border
{
    border: 2px solid rgb(38, 83, 227);
    position: relative;
    width: 20px;
    position: absolute;
    bottom: 49px;
    /* left: 58.7%; */
    left: 59%;
    background-color: rgb(38, 83, 227);
}
.header-content
{
    max-width: 80%;
    z-index: 1;
    position: relative;
    top: 160px;
    margin: auto;
    font-family: 'Open Sans';
}
.header-content .header-content-wrapper
{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 58vh;
    top: -30px;
}
.header-content .header-content-wrapper .header-content-header
{
    height: 225px;
}
.header-content .header-content-wrapper .header-content-header h1
{
    font-size: 170px;
    font-weight: 900;
    position: relative;
    left: -380px;
    opacity: 0;
}
.header-content .header-content-wrapper .header-content-statement h2
{
    font-size: 20px;
    font-weight: 500;
    width: 550px;
    color: rgb(94, 90, 90);
    line-height: 35px;
    position: relative;
    left: -800px;
    transition: left 500ms ease-in;
}
.header-content .header-content-wrapper button
{
    width: 200px;
    padding: 25px;
    border-radius: 50px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: rgb(38, 83, 227);
    font-size: 16px;
    font-weight: 700;
    position: relative;
    top: 100px;
    transition: top 1390ms ease;
}




.header-png-img
{
    position: relative;
    right: -350px;
    width: 1210px;
    height: 90vh;
    bottom: 330px;

}
.header-png-img img:nth-child(*)
{
    position: absolute;
    z-index: 1;
}

.header-png-img img:nth-child(1)
{
    position: absolute;
    left: 23%;
    /* top: 5%; */
    top: -30%;
}
.header-png-img img:nth-child(2)
{
    position: absolute;
    left: 85%;
    /* top: 50%; */
    top: 30%;
}
.header-png-img img:nth-child(3)
{
    position: absolute;
    bottom: 3%;
}




.nav-scroll-menu
{
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 13vh; */
    height: 0;
    background: white;
    z-index: 2;
    color: black;
}
.nav-scroll-menu-container
{
    display: flex;
    height: inherit;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    align-items: center;
    visibility: hidden;

}
.nav-scroll-menu-link
{
    width: 500px;
}
.nav-scroll-menu-link ul
{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.nav-scroll-menu-link ul li a
{
    cursor: pointer;
    font-weight: 600;
    color:rgb(107, 107, 107)
}
.nav-link-border-menu
{
    border: 2px solid rgb(38, 83, 227);
    position: relative;
    width: 20px;
    position: absolute;
    bottom: 49px;
    /* left: 58.7%; */
    transform: translateY(30px);
    left: 59%;
    background-color: rgb(38, 83, 227);
}
.nav-scroll-animate
{
    height: 13vh;
    transition: height 250ms ease;
}
.nav-scroll-unanimate
{
    height: 0;
    transition: height 250ms ease;
}
.nav-scroll-animate-tablet
{
    height: 7vh;
    transition: height 250ms ease;
}
.nav-scroll-unanimate-tablet
{
    height: 0;
    transition: height 250ms ease;
}
.nav-scroll-menu-animate
{
    visibility: visible;
    transition: visibility 250ms ease;
}

.nav-scroll-menu-unanimate
{
    visibility: hidden;
    transition: visibility 10ms ease;
}




.description
{
    position: relative;
    height: 50vh;
}
.description-brands
{
    margin: auto;
    width: 1200px;
    height: 40vh;
    display: flex;
    justify-content: space-between;
}
.description-info
{
    height: 45vh;
    width: 530px;
    margin: -100px 20px;
    border-radius: 5px;
    display: flex;
}
.description-info:hover
{
    cursor: pointer;
}
.description-info:nth-child(1)
{
    background-color: black;
    color: white;
}
.description-info:nth-child(2),
.description-info:nth-child(3)
{
    background-color: white;
    box-shadow: 0 1px 20px rgb(0 0 0 / 0.2);
}

.description-info-content
{
    display: flex;
    flex-direction: column;
    height: 28vh;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.description-info-content h3
{
    font-size: initial;
}
.description-info-content h2
{
    font-size: 20px;
}
.description-info-content hr
{
    width: 20px;
    height: 2px;
    background: white;
}
.description-info:nth-child(2) .description-info-content hr
{
    background: black;
}
.description-info:nth-child(3) .description-info-content hr
{
    background: black;
}
.description-info-content p
{
    text-align: center;
    color: rgb(190, 184, 184);
}

.description-background
{
    background-color: white;
    color: black;
    transition: background-color 250ms ease;
}


.about-us-wrapper
{
    margin: auto;
    width: 1220px;
    display: flex;
    height: 60vh;
    justify-content: space-between;
    overflow: hidden;
}
.about-us-wrapper .about-us-section-one
{  
    width: 1600px; 
    position: relative;
    /* left: -180px; */
    transform: translateX(-200px);
}
.about-us-wrapper .about-us-section-one h1
{
    font-size: 50px;   
    font-weight: 700;
    line-height: 60px;
    opacity: 0;
}
.about-us-wrapper .about-us-section-two
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 17px;
    height: 45vh;
    position: relative;
    /* left: 200px; */
    transform: translateX(200px);
}
.about-us-wrapper .about-us-section-two p
{
    width: 575px;
    color: rgb(107, 107, 107);
    line-height: 28px;
    opacity: 0;
}
.about-us .about-us-section-two p:nth-child(1)
{
    line-height: 28px;
    width: 600px;
}
.about-us-wrapper .about-us-section-two button
{
   font-size: 18px;
   font-weight: 600;
   letter-spacing: 1px;
   cursor: pointer;
   opacity: 0;
}   


.works
{
    background-color: rgb(243, 243, 243);
    height: 120vh;
}
.works-header
{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    transform: translateY(100px);
}
.works-header-wrapper
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 22vh;
    opacity: 0;
}
.works-header-wrapper .works-header-border
{
    height: 10vh;
    position: relative;
    transform: translateY(-27px);
}
.works-header-wrapper h3
{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 18px;
}
.works-header-wrapper p
{
    color: rgb(94, 94, 94);
    font-size: 16px;
    font-weight: 600;
}
.works-wrapper
{
    margin: auto;
    width: 1350px;
    display: flex;
    justify-content: space-around;
    height: 90vh;
    overflow-x: hidden;
    position: relative;
    left: -30px;
}
.works-layout-carousel
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(700px);
}
.works-img-layout
{
    overflow: hidden;
}
.works-layout
{
    margin: 20px;
}
.works-layout img
{
    border-radius: 5px;
    transform: scale(1.7) rotateX(-50deg);
}
.works-layout img:hover
{
    transform: scale(1.95) rotateX(-53deg);
    transition: transform 850ms ease, opacity 650ms ease;
    cursor: pointer;
}
/* After effect of hover component */
/* .works-layout img:hover::after
{
    transform: scale(1.7) rotateX(-50deg);
    transition: transform 650ms ease;
} */

.works-img-layout
{
    background-color: black;
}
.works-img-layout img
{
    opacity: 1;
}
.works-img-layout img:hover
{
     opacity: 0.5;
}
.works-wrapper h2
{
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.sliders-btn
{
    margin: auto;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    transform: translateY(-48px) translateX(12px);

}
.slider
{
    margin: 6px;
    width: 23px;
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(172, 166, 166);
    cursor: pointer;
}
.filled
{
    background-color: black;
    transition: background-color 350ms ease;
}
.transform-right
{
    transform: translateX(600px);
    transition: transform 250ms ease;
}




.icons
{
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;

}

.icons-container
{
    display: grid;
    margin: auto;
    width: 1200px;
    height: 60vh;
    grid-row-gap: 15px;
    grid-template-rows: repeat(2, 180px);
    transform: translateY(50px);
}

.icons-container-row-one
{
    grid-row: 1;
}
.icons-container-row-one ul
{
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: space-between;
}
.icons-container-row-two
{
    grid-row: 2;
}
.icons-container-row-two ul
{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
}


.aim
{
    display: flex;
    justify-content: center;
    padding: 290px 0px;
    padding-right: 0px;
}
.aim-wrapper
{
    display: flex;
    width: 1450px;
    transform: translateX(0px);
}
.aim-border
{
    border: 1px solid black;
    position: absolute;
    left: 500px;
    height: 130vh;
    transform: translateY(-200px) translateX(235px);
    z-index: -2;
}
.aim-img-wrapper
{
    width: 950px;
    height: 90vh;
    z-index: 1;
    position: relative;
    transform: translateY(-100px) translateX(60px);
    box-shadow: -15px -10px 20px rgb(225, 217, 217);
    overflow:hidden;
}
.aim-img-wrapper img
{
    width: inherit;
    height: inherit;
    border-radius: 3px;
}
.aim-target
{
    background: black;
    color: white;
    width: 1000px;
    z-index: -1;
    position: relative;
    transform: translateX(-40px);
    border-radius: 3px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.aim-target-info
{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: translateX(-80px);
    row-gap: 10px;
    list-style-type: circle;   
}
.aim-target-info::before
{
    content: "•";
    color: white;
    position: relative;
    transform: translateX(-40px) translateY(65px);

}
.aim-target-info h3
{
    font-size: 23px;
}
.aim-target-info p
{
    width: 380px;
    display: flex;
    align-items: center;
    line-height: 30px;
    color: rgb(190, 184, 184)
}



footer
{
    background-color: black;
    height: 35vh;
    padding-top: 15px;
}
footer .footer-wrapper
{
    color: white;
    display: flex;
    margin: auto;
    width: 1220px;
    justify-content: space-between;
    align-items: center;
    height: calc(35vh - 10vh);

}
footer .footer-wrapper img
{
    width: 100px;
    transform: translateX(30px);
}
footer .footer-wrapper .footer-middle-content
{
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-around;
    line-height: 30px;
    transform: translateX(30px);
}
footer .footer-wrapper .footer-middle-content .footer-middle-content-one
{
    height: inherit;
}
footer .footer-wrapper .footer-middle-content .footer-middle-content-one ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10vh;
}
footer .footer-wrapper .footer-middle-content .footer-middle-content-two
{
    height: inherit;
}
footer .footer-wrapper .footer-middle-content .footer-middle-content-two ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10vh;
    line-height: 35px;
    transform: translateY(16px);
}
footer .footer-wrapper .footer-middle-content .footer-middle-content-two ul
{
    list-style: none;
}
footer .footer-middle-content a
{
    color:rgb(107, 107, 107);
    cursor: pointer;
}
.footer-logos
{
    width: 190px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.footer-logos div i
{
    font-size: 20px;
}

/* Media Query Display */
.tablet-nav
{
    display: none;
}
.tablet-nav-scroll
{
    display: none;
}

@media screen and (max-width: 1080px)
{
    nav
    {
        background-color: white;
        width: 120%;
        padding: 0;    
        height: 7vh;
        justify-content: space-around;

    }
    .nav-link
    {
        display: none;
    }
    .nav-logo
    {
        position: relative;
        top: 10px;
        right: 150px;
    }

    .tablet-nav
    {
        display: flex;
        width: 80px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 10px;
    }
    .tablet-nav .tablet-nav-toggle
    {
        padding: 10px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .tablet-nav i
    {
        cursor: pointer;
    }
    .tablet-nav .tablet-nav-toggle div
    {
        border: 1px solid black;
        margin: 3px;
        width: 20px;
    }
    .nav-scroll-menu-container
    {
        width: 700px;
    }
    .nav-scroll-menu
    {
        padding: 0;
        display: flex;
        align-items: center;
    }
    .nav-link-border-menu
    {
        display: none;
    }
    .nav-scroll-menu-link
    {
        display: none;
    }
    .tablet-nav-scroll
    {
        padding: 10px;
        display: flex;
        align-items: center;
        width: 120px;
        justify-content: space-around;
        position: relative;
        left: 30px;
    }
    .tablet-nav-scroll i
    {
        cursor: pointer;
    }
    .tablet-nav-scroll-toggle
    {
        padding: 10px;
        cursor: pointer;
    }
    .tablet-nav-scroll-toggle div
    {
        border: 1px solid black;
        margin: 5px;
        width: 20px;
    }
    /* header
    {
        height: 70vh;
    } */
    /* .header-content
    {
        left: -35px;
    }
    .header-wrapper
    {
        height: 70vh;
        background-position: -275px 90px;
    }
    .header-content .header-content-wrapper
    {
        height: 30vh;
        max-width: 360px;
        justify-content: space-around;
    }
    .header-content .header-content-wrapper .header-content-statement h2
    {
        font-size: 14px;
        line-height: 20px;
        width: 360px;
    }
    .header-content .header-content-wrapper .header-content-header h1
    {
        font-size: 95px;
        top: 30px;
    } */
    .header-content .header-content-wrapper button
    {
        margin-top: 10px;
    }
    .description, .description-brands
    {
        width: 800px;
        justify-content: space-evenly;
    }
    .description .description-brands .description-info
    {
        width: 300px;
        flex-direction: column;
    }
    .description .description-info .description-info-content p
    {
        width: 120px;
        line-height: 30px;

    }
    .description .description-brands .description-info h2
    {
        width: 100px;
        text-align: center;
    }
    .description .description-brands .description-info h3
    {
        font-size: 20px;
    }

}
